


<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title th:text="${title}">Forum</title>

<link rel="stylesheet" th:href="@{css/mainpage.css}"
	href="../static/css/mainpage.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

<link href='https://fonts.googleapis.com/css?family=Calibri'
	rel='stylesheet' type='text/css' />
<link href='https://fonts.googleapis.com/css?family=Exo'
	rel='stylesheet' type='text/css' />

</head>

<body>

	<div class="container">

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-5"
						aria-expanded="false">
						<span class="sr-only"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"> Forum.com </a>
				</div>
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-5">
					<p class="navbar-text navbar-right">
						<a th:text="#{yourip} + ' '"> IP címed: </a><a href="#"
							class="navbar-link">127.0.0.1</a>
					</p>
				</div>
			</div>

		</nav>
		<img th:src="@{/images/network.jpg}" src="../images/network.jpg"
			class="img-responsive" alt="Responsive image" />
		<article>
			<header>
				<h1 th:text="#{errorPage.title}">Ez itt a probléma</h1>
			</header>
			<section>
				<p th:text="#{errorPage.userError.forumNotFound}">Ez a
					hibaüzenet</p>
				<p th:text="${status}">Ez a statusz kódt</p>
				<p th:text="${#dates.format(timestamp, 'yyyy.MM.dd HH:mm')}">Ez
					az időpont</p>
				<p th:utext="${path} +' ' + #{copy}">Ez az elérési út</p>

			</section>

		</article>

		<footer> </footer>

	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>


