<!DOCTYPE html>
<html>
<body>
	<form method="post">
		<select name="id">
			<option th:each="user : ${createPost}" th:value="${user.id}"
				th:utext="${post.user.name}"> </option>
		</select> <input type="text" name="title">
		<textarea name="content" rows="4" cols="50"
			placeholder="post some new content">
	</textarea>
	<input type="submit" />
	</form>
</body>
</html>
